body {background-color: #333;}
.wrapper {padding: 3rem; display: flex; justify-content: space-between; max-width: 1600px; margin: auto;}
.wrapper .box {width: 200px; height: 200px;}
.wrapper .box1 {background-color: rebeccapurple; /* animation-name: box1; */ animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear; /* animation-play-state: paused; */}
.wrapper .box2 {background-color: royalblue;}
.wrapper .box3 {background-color: greenyellow;}

@keyframes box1 {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}

@keyframes box1 {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}


/* 
1. animation-name: 키프레임 이름
2. animation-duration: 2s;  										애니메이션 작동 시간
3. animation-fill-mode: backward/forward;   		애니메이션 종료 후 처음으로 or 마지막 프레임으로 남는다. 
4. animation-iteration-count: 1-n...infinite;   애니메이션 반복 횟수
5. animation-delay: 0/2s;  											애니메이션 딜레이 시간
6. animation-timing-function: ease/linear;  		애니메이션 속도 물리 엔진
7. animation-direction: normal/reverse/alternate/reverse-alternate;  애니메이션 방향
8. animation-play-state: running/paused;  			애니메이션 재생 상황


animation: name duration timing-function delay iteration-count direction fill-mode;
*/
